<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% if object_list.first.title %}
        <title>{{ object_list.first.title }}</title>
    {% else %}
        <title>Кубоктранс | Международные перевозки</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- SEO -->
    <meta name="description" content="С 1998 года на рынке транспортных услуг. Доверьте свой бизнес экспертам в международных перевозках.">
    <meta name="Keywords" content="грузоперевозки, международные перевозки, транспортные услуги, тренспортные компании беларусь">

    <!-- style -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <!-- icons from flaticon-->
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "css/aos.css" %}">

    <!-- custom style -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>

<!-- мобильное меню -->
<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-3" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-11 col-xl-2">
                <h1 class="mb-0"><a style="font-size:25px;" href="{% url 'index' %}"
                                    class="text-white h2 mb-0">{{ object_list.first.logo }}</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                        <li class="active"><a href="{% url 'index' %}">Начало</a></li>
                        <li><a href="{% url 'index' %}#about">О компании</a></li>
                        <li><a href="{% url 'index' %}#partners">Наши партнеры</a></li>
                        <li><a href="{% url 'index' %}#how_to_order">Как заказать</a></li>
                        <li><a href="{% url 'index' %}#more_services"> Маршруты</a></li>
                        <li><a href="{% url 'index' %}#testimonials">Отзывы</a></li>
                        <li><a href="{% url 'index' %}#contacts">Контакты</a></li>
                    </ul>
                </nav>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">
                <a href="{% url 'index' %}" class="site-menu-toggle js-menu-toggle text-white"><span
                        class="icon-menu h3"></span></a>
            </div>
        </div>
    </div>

</header>


{% block content %}
{% endblock %}

<footer class="site-footer">
    <p style="text-align:center; margin-top:-40px;">
        Made by Architect
    </p>

</footer>


<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/jquery.stellar.min.js" %}"></script>
<script src="{% static "js/jquery.countdown.min.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "js/aos.js" %}"></script>

<script src="{% static "js/main.js" %}"></script>

</body>
</html>