{% extends 'base.html' %}

{% block content %}
    <style>
        body {
            background: url("../static/images/cargo_bg.jpg") no-repeat;
            background-size: cover;
        }
    </style>
    <div class="mb-5" style="height: 10vh;"></div>

    <div id="about" class="site-section bg-light" style="height: 70vh;">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary" data-aos="fade">Успешно!</h2>
                </div>
            </div>
            <div class="row mt-5 g-5 justify-content-center">
                <div class="card text-center">
                    <div class="card-header">
                        Спасибо!
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ваша заявка отправлена!</h5>

                        <a href="{% url 'index' %}" class="btn btn-primary">Вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}