@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0009fb84ff7d7d07685397e8ae997eda") format("truetype"),
url("./flaticon.woff?0009fb84ff7d7d07685397e8ae997eda") format("woff"),
url("./flaticon.woff2?0009fb84ff7d7d07685397e8ae997eda") format("woff2"),
url("./flaticon.eot?0009fb84ff7d7d07685397e8ae997eda#iefix") format("embedded-opentype"),
url("./flaticon.svg?0009fb84ff7d7d07685397e8ae997eda#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-document:before {
    content: "\f101";
}
.flaticon-trust:before {
    content: "\f102";
}
.flaticon-insurance:before {
    content: "\f103";
}
.flaticon-trailer:before {
    content: "\f104";
}
.flaticon-travel-map:before {
    content: "\f105";
}
.flaticon-discount:before {
    content: "\f106";
}
.flaticon-driving-test:before {
    content: "\f107";
}
.flaticon-24-hours:before {
    content: "\f108";
}
.flaticon-frontal-truck:before {
    content: "\f109";
}
.flaticon-truck:before {
    content: "\f10a";
}
.flaticon-company:before {
    content: "\f10b";
}
.flaticon-shipped:before {
    content: "\f10c";
}
.flaticon-shipping:before {
    content: "\f10d";
}
.flaticon-protected:before {
    content: "\f10e";
}
