$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0009fb84ff7d7d07685397e8ae997eda") format("truetype"),
url("./flaticon.woff?0009fb84ff7d7d07685397e8ae997eda") format("woff"),
url("./flaticon.woff2?0009fb84ff7d7d07685397e8ae997eda") format("woff2"),
url("./flaticon.eot?0009fb84ff7d7d07685397e8ae997eda#iefix") format("embedded-opentype"),
url("./flaticon.svg?0009fb84ff7d7d07685397e8ae997eda#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "document": "\f101",
    "trust": "\f102",
    "insurance": "\f103",
    "trailer": "\f104",
    "travel-map": "\f105",
    "discount": "\f106",
    "driving-test": "\f107",
    "24-hours": "\f108",
    "frontal-truck": "\f109",
    "truck": "\f10a",
    "company": "\f10b",
    "shipped": "\f10c",
    "shipping": "\f10d",
    "protected": "\f10e",
);

.flaticon-document:before {
    content: map-get($flaticon-map, "document");
}
.flaticon-trust:before {
    content: map-get($flaticon-map, "trust");
}
.flaticon-insurance:before {
    content: map-get($flaticon-map, "insurance");
}
.flaticon-trailer:before {
    content: map-get($flaticon-map, "trailer");
}
.flaticon-travel-map:before {
    content: map-get($flaticon-map, "travel-map");
}
.flaticon-discount:before {
    content: map-get($flaticon-map, "discount");
}
.flaticon-driving-test:before {
    content: map-get($flaticon-map, "driving-test");
}
.flaticon-24-hours:before {
    content: map-get($flaticon-map, "24-hours");
}
.flaticon-frontal-truck:before {
    content: map-get($flaticon-map, "frontal-truck");
}
.flaticon-truck:before {
    content: map-get($flaticon-map, "truck");
}
.flaticon-company:before {
    content: map-get($flaticon-map, "company");
}
.flaticon-shipped:before {
    content: map-get($flaticon-map, "shipped");
}
.flaticon-shipping:before {
    content: map-get($flaticon-map, "shipping");
}
.flaticon-protected:before {
    content: map-get($flaticon-map, "protected");
}
